#container-1 {
    a {
        text-decoration: none;
    }
    padding-top: 150px;
    background: hsl(0deg, 4%, 11%);
    background: radial-gradient(circle, hsl(0deg, 4%, 11%) 0%, hsl(0deg, 0%, 2%) 100%);
    background: -webkit-radial-gradient(circle, hsl(0deg, 4%, 11%) 0%, hsl(0deg, 0%, 2%) 100%);
    .carrosel {
        
        width: 80%;
        margin: auto;
        .details {
            height: 100%;
            text-align: center;
            .box-1 {
                display: none;
                width: auto;
                text-align: center;
                margin: auto;
                padding-top: 50px;
                .icon-link {
                    padding: 5px;
                    padding-left: 30px;
                    padding-right: 30px;
                    margin: auto;
                    width: 60%;
                    display: flex;
                    justify-content: space-between;
                    padding-top: 5px;
                    color: aliceblue;
                    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
                        sans-serif;
                }
                .git {
                    background: hsla(290, 81%, 25%, 1);

                    background: linear-gradient(90deg, hsla(290, 81%, 25%, 1) 0%, hsla(286, 44%, 49%, 1) 100%);

                    background: -moz-linear-gradient(90deg, hsla(290, 81%, 25%, 1) 0%, hsla(286, 44%, 49%, 1) 100%);

                    background: -webkit-linear-gradient(90deg, hsla(290, 81%, 25%, 1) 0%, hsla(286, 44%, 49%, 1) 100%);
                }
                .home {
                    margin-top: 20px;
                    background: hsla(0, 0%, 0%, 1);

                    background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 32%, 1) 100%);

                    background: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 32%, 1) 100%);

                    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgb(45, 45, 45) 100%);
                }
            }
        }
        .details:hover {
            background: rgba(67, 67, 67, 0.503);
            .box-1 {
                display: block;
            }
        }
        .item {
            height: 200px;
        }

        .icons {
            height: 60px;
            width: 60px;
            margin-top: 30px;
        }
        .flex {
            display: flex;
            width: 70%;
            justify-content: space-around;
            margin: auto;
        }
        .img-1 {
            background-image: url("../img/scssflix.png");
            background-position: center;
            background-size: cover;

            width: 100%;
        }

        .img-2 {
            background-image: url("../img/tesla.png");
            background-position: center;
            background-size: cover;

            width: 100%;
        }
        .img-3 {
            background-image: url("../img/calc.png");
            background-position: center;
            background-size: cover;

            width: 100%;
        }
        .img-4 {
            background-image: url("../img//Barber.png");
            background-position: center;
            background-size: cover;

            width: 100%;
        }
        .img-5 {
            background-image: url("../img/imc.png");
            background-position: center;
            background-size: cover;

            width: 100%;
        }
        .img-6 {
            background-image: url("../img/dog.png");
            background-position: center;
            background-size: cover;

            width: 100%;
        }
        .img-7 {
            background-image: url("../img/funko-logo.png");
            background-position: center;
            background-size: cover;

            width: 100%;
        }

        .icon-scss {
            background-image: url("../img/4375066_logo_sass_icon.png");
            background-size: cover;
            background-position: center;
        }
        .icon-css {
            background-image: url("../img/css-3\ \(1\).png");
            background-size: cover;
            background-position: center;
        }
        .icon-html {
            background-image: url("../img/html-5.png");
            background-size: cover;
            background-position: center;
        }
        .icon-js {
            background-image: url("../img/js\ \(2\).png");
            background-size: cover;
            background-position: center;
        }
        .icon-bootstrap {
            background-image: url("../img/bootstrap\ \(1\).png");
            background-size: cover;
            background-position: center;
        }
    }
}
.shadown {
    height: 50px;
    width: 80%;
    background: rgba(3, 3, 3, 0.169);
    border-radius: 100%;
    position: fixed;
    left: 10%;
    top: 460px;
    box-shadow: 10px 10px 50em rgb(23, 23, 23);
}
#container-3 {
    top: 400px;
}
