* {
  margin: 0%;
  padding: 0%;
}

#container-01 {
  height: 100vh;
  width: 100%;
  background: rgb(241, 241, 241);
  background: radial-gradient(circle, rgb(241, 241, 241) 22%, rgb(205, 205, 205) 56%, rgb(196, 196, 196) 76%);
}
#container-01 .cardH:hover {
  z-index: 4;
  transform: scale(1.3);
}
#container-01 .card {
  border-radius: 10px;
  height: 75px;
  width: 100px;
  text-align: center;
  padding-top: 25px;
  background: rgb(89, 89, 89);
}
#container-01 .cardH {
  border-radius: 10px;
  height: 75px;
  width: 100px;
  text-align: center;
  padding-top: 25px;
  background: rgb(89, 89, 89);
}
#container-01 .box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  margin: auto;
  text-align: center;
}
#container-01 .card-01 {
  background: rgb(130, 223, 218);
  background: linear-gradient(29deg, rgb(130, 223, 218) 58%, rgb(126, 213, 202) 100%);
  position: fixed;
  top: 200px;
  left: 800px;
}
#container-01 .text-1 {
  background-image: url("../img/git.png");
}
#container-01 .card-02 {
  background: rgb(130, 223, 218);
  background: linear-gradient(29deg, rgb(130, 223, 218) 58%, rgb(126, 213, 202) 100%);
  position: fixed;
  top: 100px;
  left: 490px;
  z-index: 1;
}
#container-01 .text-2 {
  background-image: url("../img/bootstrap (1).png");
}
#container-01 .card-03 {
  background: rgb(130, 223, 218);
  background: linear-gradient(29deg, rgb(130, 223, 218) 58%, rgb(126, 213, 202) 100%);
  position: fixed;
  top: 340px;
  left: 600px;
}
#container-01 .text-3 {
  background-image: url("../img/css-3 (1).png");
}
#container-01 .card-04 {
  background: rgb(130, 223, 218);
  background: linear-gradient(29deg, rgb(130, 223, 218) 58%, rgb(126, 213, 202) 100%);
  position: fixed;
  top: 440px;
  left: 900px;
}
#container-01 .text-4 {
  background-image: url("../img/js (2).png");
}
#container-01 .card-05 {
  background: rgb(130, 223, 218);
  background: linear-gradient(29deg, rgb(130, 223, 218) 58%, rgb(126, 213, 202) 100%);
  position: fixed;
  top: 400px;
  left: 390px;
}
#container-01 .text-5 {
  background-image: url("../img/mysql.png");
}
#container-01 .card-06 {
  position: fixed;
  top: 140px;
  left: 400px;
}
#container-01 .text-6 {
  background-image: url("../img/typescript.png");
}
#container-01 .card-07 {
  background: rgb(130, 223, 218);
  background: linear-gradient(29deg, rgb(130, 223, 218) 58%, rgb(126, 213, 202) 100%);
  position: fixed;
  top: 340px;
  left: 300px;
}
#container-01 .text-7 {
  background-image: url("../img/html-5.png");
}
#container-01 .card-08 {
  position: fixed;
  top: 270px;
  left: 380px;
}
#container-01 .text-8 {
  background-image: url("../img/java.png");
}
#container-01 .card-09 {
  position: fixed;
  top: 280px;
  left: 680px;
}
#container-01 .text-9 {
  background-image: url("../img/nodejs.png");
}
#container-01 .card-10 {
  position: fixed;
  top: 150px;
  left: 580px;
}
#container-01 .text-10 {
  background-image: url("../img//php (1).png");
}
#container-01 .card-11 {
  position: fixed;
  top: 120px;
  left: 880px;
}
#container-01 .text-11 {
  background-image: url("../img/python.png");
}
#container-01 .card-12 {
  position: fixed;
  top: 420px;
  left: 670px;
}
#container-01 .text-12 {
  background-image: url("../img/c.png");
}
#container-01 .card-12 {
  position: fixed;
  top: 480px;
  left: 810px;
}
#container-01 .text-12 {
  background-image: url("../img/asp.png");
}
#container-01 .card-13 {
  position: fixed;
  top: 280px;
  left: 980px;
}
#container-01 .text-13 {
  background-image: url("../img/brands.png");
}
#container-01 .card-14 {
  position: fixed;
  top: 400px;
  left: 680px;
}
#container-01 .text-14 {
  background-image: url("../img/c-.png");
}
#container-01 .card-15 {
  position: fixed;
  top: 180px;
  left: 720px;
}
#container-01 .text-15 {
  background-image: url("../img/letra-c.png");
}
#container-01 .card-16 {
  position: fixed;
  top: 270px;
  left: 520px;
}
#container-01 .text-16 {
  background-image: url("../img/ruby (1).png");
}
#container-01 .menu {
  position: fixed;
  right: 40px;
  top: 50px;
  text-align: end;
}
#container-01 .menu .text {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 7px;
  margin-top: 5px;
  padding: 10px;
  padding-left: 60px;
}
#container-01 .menu .text:hover {
  background: rgb(78, 78, 78);
  color: aliceblue;
}
#container-01 .media {
  position: fixed;
  top: 250px;
  left: 5px;
}
#container-01 .media .icon {
  padding-top: 15px;
}/*# sourceMappingURL=skils.css.map */