* {
    margin: 0%;
    padding: 0%;
}

@media (min-width: 600px) {
    #container-01 {
        height: 100vh;
        width: 100%;
        background: hsla(0, 4%, 11%, 1);

        background: radial-gradient(circle, hsla(0, 4%, 11%, 1) 0%, hsla(0, 0%, 2%, 1) 100%);
    
        background: -moz-radial-gradient(circle, hsla(0, 4%, 11%, 1) 0%, hsla(0, 0%, 2%, 1) 100%);
    
        background: -webkit-radial-gradient(circle, hsla(0, 4%, 11%, 1) 0%, hsla(0, 0%, 2%, 1) 100%);

        .cardH:hover {
            z-index: 4;
            transform: scale(1.3);
            cursor: pointer;
        }
        .card {
            border-radius: 10px;
            height: 75px;
            width: 100px;
            text-align: center;
            padding-top: 25px;
            background: rgba(50, 50, 50, 0.434);
        }
        .cardH {
            border-radius: 10px;
            height: 75px;
            width: 100px;
            text-align: center;
            padding-top: 25px;
        }
        .box {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 50px;
            width: 50px;
            margin: auto;
            text-align: center;
        }
        .card-01 {
            background: rgba(130, 223, 218, 0.33);
            background: linear-gradient(29deg, rgba(130, 223, 218, 1) 58%, rgba(126, 213, 202, 1) 100%);
            position: fixed;
            top: 100px;
            left: 800px;
        }
        .text-1 {
            background-image: url("../img/git.png");
        }
        .card-02 {
            background: rgb(130, 223, 218);
            background: linear-gradient(29deg, rgba(130, 223, 218, 1) 58%, rgba(126, 213, 202, 1) 100%);
            position: fixed;
            top: 80px;
            left: 490px;
            z-index: 1;
        }
        .text-2 {
            background-image: url("../img/bootstrap\ \(1\).png");
        }
        .card-03 {
            background: rgb(130, 223, 218);
            background: linear-gradient(29deg, rgba(130, 223, 218, 1) 58%, rgba(126, 213, 202, 1) 100%);
            position: fixed;
            top: 480px;
            left: 600px;
        }
        .text-3 {
            background-image: url("../img/css-3\ \(1\).png");
        }
        .card-04 {
            background: rgb(130, 223, 218);
            background: linear-gradient(29deg, rgba(130, 223, 218, 1) 58%, rgba(126, 213, 202, 1) 100%);
            position: fixed;
            top: 440px;
            left: 900px;
        }
        .text-4 {
            background-image: url("../img/js\ \(2\).png");
        }
        .card-05 {
            background: rgb(130, 223, 218);
            background: linear-gradient(29deg, rgba(130, 223, 218, 1) 58%, rgba(126, 213, 202, 1) 100%);
            position: fixed;
            top: 470px;
            left: 390px;
        }
        .text-5 {
            background-image: url("../img/mysql.png");
        }
        .card-06 {
            background: rgb(130, 223, 218);
            background: linear-gradient(29deg, rgba(130, 223, 218, 1) 58%, rgba(126, 213, 202, 1) 100%);

            position: fixed;
            top: 140px;
            left: 300px;
        }
        .text-6 {
            background-image: url("../img/4375066_logo_sass_icon.png");
        }
        .card-07 {
            background: rgb(130, 223, 218);
            background: linear-gradient(29deg, rgba(130, 223, 218, 1) 58%, rgba(126, 213, 202, 1) 100%);
            position: fixed;
            top: 340px;
            left: 200px;
        }
        .text-7 {
            background-image: url("../img/html-5.png");
        }
        .card-08 {
            position: fixed;
            top: 270px;
            left: 280px;
        }
        .text-8 {
            background-image: url("../img/java.png");
        }
        .card-09 {
            position: fixed;
            top: 440px;
            left: 1080px;
        }
        .text-9 {
            background-image: url("../img/nodejs.png");
        }
        .card-10 {
            position: fixed;
            top: 40px;
            left: 580px;
        }
        .text-10 {
            background-image: url("../img//php\ \(1\).png");
        }
        .card-11 {
            position: fixed;
            top: 120px;
            left: 880px;
        }
        .text-11 {
            background-image: url("../img/python.png");
        }
        .card-12 {
            position: fixed;
            top: 20px;
            left: 740px;
        }
        .text-12 {
            background-image: url("../img/c.png");
        }
        .card-17 {
            position: fixed;
            top: 480px;
            left: 740px;
        }
        .text-17 {
            background-image: url("../img/asp.png");
        }
        .card-13 {
            position: fixed;
            top: 280px;
            left: 980px;
        }
        .text-13 {
            background-image: url("../img/brands.png");
        }
        .card-14 {
            position: fixed;
            top: 200px;
            left: 200px;
        }
        .text-14 {
            background-image: url("../img/c-.png");
        }
        .card-15 {
            position: fixed;
            top: 180px;
            left: 1020px;
        }
        .text-15 {
            background-image: url("../img/letra-c.png");
        }
        .card-16 {
            position: fixed;
            top: 470px;
            left: 220px;
        }
        .text-16 {
            background-image: url("../img/ruby\ \(1\).png");
        }
        .cardH {
            background: rgba(255, 255, 255, 0.595);
        }

        .menu {
            position: fixed;
            right: 40px;
            top: 50px;
            text-align: end;
            color: aliceblue;
            .text {
                font-family: Arial, Helvetica, sans-serif;
                letter-spacing: 7px;
                margin-top: 5px;
                padding: 10px;
                padding-left: 60px;
            }
            .text:hover {
                background: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
            }
        }
        .media {
            position: fixed;
            top: 250px;
            left: 5px;
            .icon {
                padding-top: 15px;
                color: aliceblue;
            }
        }
        #inerText {
            position: fixed;
            top: 290px;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            font-size: large;
            letter-spacing: 1.5;
            left: 35%;
            text-align: center;
            width: 30%;
            font-size: 30px;
            color: aliceblue;
        }
        #innerText {
            position: fixed;
            top: 330px;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            font-size: large;
            letter-spacing: 1.5;
            left: 35%;
            font-weight: 100;
            letter-spacing: 2.4;
            text-align: center;
            width: 30%;
            color: white;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
    .text-soft{
        display: none;

    }
    .liner{
        display: none;
    }
}
@media (max-width: 600px) {
    #container-01 {
        height: 100vh;
        width: 100%;
        background-image: url("../img/pexels-photo-6044217.jpeg");
        background-position: center;
        background-size: cover;

        .menu {
            position: fixed;
            right: 40px;
            top: 50px;
            text-align: end;
            color: aliceblue;
            .text {
                font-family: Arial, Helvetica, sans-serif;
                letter-spacing: 7px;
                margin-top: 5px;
                padding: 10px;
                padding-left: 60px;
            }
            .text:hover {
                background: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
            }
        }
        a {
            text-decoration: none;
            color: aliceblue;
        }
        .media {
            position: fixed;
            top: 250px;
            left: 5px;
            .icon {
                padding-top: 15px;
                color: aliceblue;
            }
        }
        #innerText {
            display: none;
        }
        #inerText {
            display: none;
        }
        .none {
            display: none;
        }
        .box-skills {
            
            width: 55%;
            margin: auto;
        }
        .flex {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
        }
        .text-soft {
            color: white;
            text-align: center;
            padding-top: 260px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            letter-spacing: 1.5;
        }
        .liner{
            text-align: center;
            padding-bottom: 20px;
            color: aliceblue;
        }

        .cardH {
            border-radius: 10px;
            height: 75px;
            width: 100px;
            text-align: center;
            padding-top: 25px;
        }
        .box {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 50px;
            width: 50px;
            margin: auto;
            text-align: center;
        }
        .cardH {
            background: rgba(47, 47, 47, 0.785);
        }
        .text-1 {
            background-image: url("../img/git.png");
        }
        .text-2 {
            background-image: url("../img/bootstrap\ \(1\).png");
        }
        .text-3 {
            background-image: url("../img/css-3\ \(1\).png");
        }
        .text-4 {
            background-image: url("../img/mysql.png");
        }
        .text-5 {
            background-image: url("../img/html-5.png");
        }
        .text-6 {
            background-image: url("../img/4375066_logo_sass_icon.png");
        }
        .text-7 {
            background-image: url("../img/js\ \(2\).png");
        }
    }
}
